[project]
	description = settings required for executing khaleesi provisioned openstack environments
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Attila Darazs (adarazs)
	owner = group user/wes hayutin (weshayutin)
[access "refs/for/refs/*"]
	read = group rdo-ci-group
	read = group user/Steve Linabery (eggmaster)
	read = group user/rdo-ci-centos
	read = group user/wes hayutin (weshayutin)
	push = group rdo-ci-group
	push = group user/Steve Linabery (eggmaster)
	push = group user/wes hayutin (weshayutin)
	label-Code-Review = -2..+2 group user/Attila Darazs (adarazs)
	label-Code-Review = -2..+2 group user/Steve Linabery (eggmaster)
	label-Code-Review = -2..+2 group user/Tal Kammer (tkammer)
	label-Code-Review = -2..+2 group user/rdo-ci-centos
	label-Code-Review = -2..+2 group user/wes hayutin (weshayutin)
	label-Verified = -1..+1 group rdo-ci-group
	label-Verified = -1..+1 group user/Steve Linabery (eggmaster)
	label-Verified = -1..+1 group user/rdo-ci-centos
	label-Verified = -1..+1 group user/wes hayutin (weshayutin)
	rebase = group user/Steve Linabery (eggmaster)
	rebase = group user/wes hayutin (weshayutin)
	removeReviewer = group user/Attila Darazs (adarazs)
	removeReviewer = group user/Steve Linabery (eggmaster)
	removeReviewer = group user/Tal Kammer (tkammer)
	removeReviewer = group user/wes hayutin (weshayutin)
	submit = group user/Steve Linabery (eggmaster)
	submit = group user/wes hayutin (weshayutin)
[access "refs/heads/*"]
	read = group user/Attila Darazs (adarazs)
	read = group user/Steve Linabery (eggmaster)
	read = group user/Tal Kammer (tkammer)
	read = group user/rdo-ci-centos
	read = group user/wes hayutin (weshayutin)
	create = group user/wes hayutin (weshayutin)
	push = +force group user/wes hayutin (weshayutin)
	pushMerge = group user/wes hayutin (weshayutin)
[access "refs/tags/*"]
	push = +force group user/wes hayutin (weshayutin)
	pushTag = group user/wes hayutin (weshayutin)
	pushSignedTag = group user/wes hayutin (weshayutin)
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
	mergeContent = false
